{% extends 'base.html' %}

{% block content %}

    <!-- Topbar Start -->
    {% include 'partials/topbar.html'%}
    <!-- Topbar End -->

    <!-- Navbar Start -->
    {% include 'partials/navbar.html'%}
    <!-- Navbar End -->

    <!-- Main News Slider Start -->
    {% include 'partials/mainnews.html'%}
    <!-- Main News Slider End -->

    <!-- Breaking News Start -->
    {% include 'partials/breakingnews.html'%}
    <!-- Breaking News End -->

    <!-- Featured News Slider Start -->
    {% include 'partials/featurednews.html'%}
    <!-- Featured News Slider End -->

    <!-- News With Sidebar Start -->
    {% include 'partials/newsslidebar.html'%}
    <!-- News With Sidebar End -->

{% endblock %}
